.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 700px;
    margin: 5rem 0rem 8rem 0rem;

    & div:nth-child(1){
        display: flex;
        justify-content: center;

        & img{
            margin-inline: 2rem;
            filter: drop-shadow(0px 0px 16px purple);
        }
    }
}

@media (width <= 80rem){
    .about {
        height: 400px;
        margin: 5rem .5rem 1rem .5rem;
        & div{
            display: flex;
            align-items: center;
            margin-bottom: 1rem;
        }

        & img{
            width: 1.5rem;
        }
        & h1{
            font-size: 1.15rem;
            
        }

        & p{
            text-align: center;
            font-size: 1.25rem;
        }
    }
}