.description{

    margin-top: 6rem;
    margin-inline: auto;
    text-align: center;
    max-width: 1400px;

    & img{

        animation: image-appear linear forwards;
        animation-timeline: view(50%);
    }

    & .desc-end-image{
        display: flex;
        justify-content: space-between;
    }


}

@keyframes image-appear{

    0%{
        scale: 0;
    }

    100%{
        scale: 1;
    }
}