footer{
    background-image: url(../assets/images/Vector.png);
    background-size: cover;
    background-position: center center;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    gap: 1rem;

    padding-block: 20rem 5rem;
}

.left-container{
    & hr{
        max-width: 100%;
        margin-block: 1.25rem;
    }
    
    .social-medias{
        display: flex;
        gap: 1rem;

        & a{
            position: relative;
            z-index: 2;
        }

        & a:hover{
            &::before{
                padding: 1.15rem;
                opacity: 1;
            }
        }

        & a::before{
            content: "";
            padding: 0;
            border-radius: 50%;
            display: inline-block;
            background-color: var(--blue-dark);
            position: absolute;
            z-index: -1;
            opacity: 0;
            transition: padding 0.25s ease, opacity 0.25s ease;
            vertical-align: middle;a 
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

    }
}

.right-container{
    display: flex;
    gap: 7rem;

    & h1{
        font-size: 1.5rem;
    }
    

    & li{
        padding-block: 1rem;
        list-style-type: none;
        font-size: 1.25rem;
        font: var(--body-xs);
        color: var(--blue-light);
        transition: color 0.5s ease;

        &:hover{
            color: white;
        }
    }
}   