.hero{
    width: 100%;

    animation: opacityFade 1s linear forwards;
    background-image: url(../assets/images/hero-background.png);
    background-size: contain;
    background-position: center top;
    /* background-attachment: local; */
    background-repeat: no-repeat;
    height: 1000px;

    & header{
        padding: 2rem 10rem;
        display: flex;
        justify-content: space-between;
            
    }

    & .title{
        padding-block: 6rem 0rem;
        
        gap: 2rem;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        & h1{
            opacity: 0;

            animation: opacityFade 1.5s linear forwards;
        }

        & p{
            opacity: 0;
            animation: opacityFade 1.5s 0.5s linear forwards;
        }
    }
}

@keyframes opacityFade{

    0% {
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

@media (width <= 80rem){
    .hero{
        
        & header{
            padding: 2rem;
            gap: .75rem;
        }
        
        & .title h1{
            font-size: 1.5rem;
            margin-top: 12rem;
        }

        & .title p{
            font-size: 1.25rem;
            margin-inline: 1rem;
            margin-bottom: 5rem;
        }
        height: 400px;
    }
}