.pricing{
    margin-top: 220px;
    margin-bottom: 220px;
    font: inherit;

    display: grid;
    grid-template-columns: repeat(3, 400px);
    gap: 2rem;
    grid-template-rows: repeat(2, 1fr);
    place-content: center;
    grid-template-areas:
    "title title title" 
    "month semi year";


    & h1{
        grid-area: title;
        place-self: center;
        text-align: center;
    }
    
    & .month{
        
        position: relative;

        &::before{
            content: "";
            display: inline-block;
            background-image: url(../assets/icons/star.svg);
            background-size: cover;
            width: 32px;
            height: 32px;
            position: absolute;

            top: -2rem;
            left: -3rem;
        }

        &::after{
            content: "";
            display: inline-block;
            background-image: url(../assets/icons/star.svg);
            background-size: cover;
            width: 25px;
            height: 25px;
            position: absolute;

            top: 1rem;
            left: -4rem;
        }


        grid-area: month;
        
        & h3{
            color: var(--blue-light);
        }

        & a.button{
            background-color: var(--blue-dark);

            &::before{
                background-color: var(--blue-mid);
            }
        }
    }

    & .semiannual{
        grid-area: semi;
        color: var(--pink-light);
        position: relative;

        &::before{
            content: "POPULAR";
            display: inline-block;
            position: absolute;
            top: 1rem;
            right: 2rem;
            padding: 1rem;

            background-color: var(--shape-stroke);
            border-radius: 1.5rem;

            font: bold 0.85rem/100% var(--ff-base);
            color: white;

        }

        &::after{
            content: url(../assets/images/Bunny.svg);
            position: absolute;
            top: -3rem;
            z-index: -1;
        }
    }

    & .yearly{
        grid-area: year;
        color: var(--blue-light);
        
        & a.button{
            background-color: var(--blue-dark);

            &::before{
                background-color: var(--blue-mid);
        }
    }

    position: relative;

        &::before{
            content: "";
            display: inline-block;
            background-image: url(../assets/icons/star.svg);
            background-size: cover;
            width: 32px;
            height: 32px;
            position: absolute;

            bottom: -2rem;
            right: -3rem;
        }

        &::after{
            content: "";
            display: inline-block;
            background-image: url(../assets/icons/star.svg);
            background-size: cover;
            width: 25px;
            height: 25px;
            position: absolute;
            bottom: 1rem;
            right: -4rem;
        }

    }

    & .card{
        display: flex;
        flex-direction: column;
        transition: transform 1s ease, background-color 1s ease, filter 1s ease;

        padding: 2rem;
        border: 2px solid var(--shape-stroke);
        border-radius: 2rem;
        background-color: var(--shape-base);


        & h3{
            font: 800 1.5rem/100% var(--ff-base);
            font-weight: bold;
            

            padding-bottom: 43px;
        }

        & price{
            color: var(--text-title);
            font: var(--title-md);

            padding-bottom: 1rem;

            & span{
                font-size: 1.5rem;
            }
        }

        & small{
            font: var(--body-xs);
            color: var(--text-label);

            padding-bottom: 4rem;
        }

        & li{
            font: var(--body-xs);
            color: var(--text-body);
            list-style-type: none;
            padding-block: .5rem;


            & img{
                width: 24px;
                height: 24px;
                margin-right: 1rem;
                vertical-align: middle;
            }
        }

        & a.button{
            width: 100%;
            margin-top: auto;
        }
    }
}
/* Card hover section */

.pricing{
    & .card:hover{
        background-color: var(--shape-hover);
        filter:drop-shadow(1px 1px 32px var(--blue-mid));
        transform: translateY(-15px);
    }
    .month::before, .month::after{
        transition: transform 1s ease;
    }

    .month:hover::before, .month:hover::after{
        transform: rotate(180deg);
    }

    .yearly::before, .yearly::after{
        transition: transform 1s ease;
    }

    .yearly:hover::before, .yearly:hover::after{
        transform: rotate(180deg);
    }


}

/* Opening cards on center */


.pricing{
  view-timeline-name: --revealing-timeline;
  view-timeline-axis: block;
}

.month{
    animation: moveToLeft linear both;
    animation-range: entry 30% exit 30%;
    animation-timeline: --revealing-timeline;
}

.yearly{
    animation: moveToRight linear both;
    animation-range: entry 30% exit 30%;
    animation-timeline: --revealing-timeline;
}

@keyframes moveToLeft{
    from{
        left: 430px;
    }
    to{
        left: 0;
    }
}

@keyframes moveToRight{
    from{
        left: -430px;
    }
    to{
        left: 0;
    }
}
